@import "../../style/variables.css";

.error-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 0 30px;
    font-weight: 400;
    font-size: var(--font-md);
    text-align: center;
    color: var(--gray);
}

.error_cat{
    display: flex;
    width: 50%;
    margin:3vw auto 0 auto;
}

@media (max-width: 1500px){

}

@media (max-width: 1200px){

}

@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){
    .error_cat{
        width: 70%;
    }
}

@media (max-width: 375px){
    .error_cat{
        width: 90%;
    }
}